* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #333;

}

ul {
    list-style: none;

}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;

}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

/* Hero */
.hero {
    margin-bottom: 50px;
}

.hero .container {
    background: url('../images/') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px
}

.hero .hero-content {
    width: 70%;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 20px
}

/* Footer */
.footer {
    padding: 40px 0;
}
.footer h4 {
    margin-bottom: 10px;
    color: #ccc; /* Set a contrasting color */
}

.footer ul li {
    font-size: 0.8rem; /* Make other text smaller */
    color: #ccc;
    line-height: 2.5;
}


.footer a {
    color: #ccc
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}



/* Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15 px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15 px;
}

/* Text Classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* Background */
.bg-primary {
    background: var(--primary-color);
    color:#fff;
}
.bg-light {
    background: var(--light-color);
    color:#333;
}
.bg-black {
    background: var(--dark-color);
    color:#111;
}

/* Hamburger button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}


/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
}
.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}

@media (max-width: 960px) {
    .navbar .main-menu {
        display: block;
    }

    .navbar .hamburger-button {
        display: none;
    }

    .mobile-menu {
        display: block; /* Show mobile menu for smaller screens */
    }

    .hero .hero-content, .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    /* text */
    .text-xxl {
        font-size: 2.5rem;
    }

    .text-xl {
        font-size: 1.9rem;
    }
    .text-lg {
        font-size: 1.5rem;
    }
    .text-md {
        font-size: 1.1rem;
    }
}


@media (max-width: 670px) {
    .navbar .main-menu {
        display: block;
    }

    .navbar .hamburger-button {
        display: block;
    }
    .hero .hero-content, .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    /* text */

    .text-xl {
        font-size: 1.9rem;
    }
    .text-lg {
        font-size: 1.5rem;
    }
    .text-md {
        font-size: 1.1rem;
    }

}

@media (max-width: 500px) {
    .navbar .main-menu {
        display: none;
    }

    .navbar .hamburger-button {
        display: block;
    }

    .hero .hero-content, .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    /* text */

    .text-xl {
        font-size: 1.9rem;
    }
    .text-lg {
        font-size: 1.5rem;
    }
    .text-md {
        font-size: 1.1rem;
    }
}